*{
    margin: 0;
    padding: 0;
}
header,main,footer,nav,section{
    display: block;
}
header{
    width: 100%; 
    height: 83px;
    margin-top: 40px;
}
a{
    color: unset;
    text-decoration: none;
}
#logo{
   margin-left: 40px;
   width: 30px;
   height: 30px;
   display: block;
   background-image: url(../images/logo.png);
   background-repeat: no-repeat;
   background-size: contain;
  
}
#logo span{
    width: 220px;
    padding-left: 38px; 
    display: block;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.25em;
    color: #3E3F43;
    
}
.section_pink{
    height: 555px;
    background-color: #F9BDBD;
}
#section_pink_inside{
    padding-top: 124px;
    padding-left: 40px;
    width: 914px;
    display: flex;
}
#spanNunito{
    padding-bottom: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 36px;
    color: #3E3F43;
    display: block;
}
#spanNunito1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
#sectionText{
   padding-left: 40px;
}
#about{
    width: 741px;
    padding-top: 24px;
    padding-left: 40px;
}
.spanRubikTitle{
    display: block;
    padding-bottom: 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}
#spanRubik{
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #000000;
}
#exercises{
    padding-top: 83px;
    padding-left: 40px;
}
#cards{
    width: 1096px;
    display: flex;
}
#card1{
    margin-right: 24px;
    width: 200px;
    height: 264px;
    background: #FDEDE5;
    border-radius: 20px;
}
#card2{
    margin-right: 24px;
    width: 200px;
    height: 264px;
    background-color: #EBF1FF;
    border-radius: 20px;

}
#card3{
    margin-right: 24px;
    width: 200px;
    height: 264px;
    background: #EBFFEC;
    border-radius: 20px;

}
#card4{
    margin-right: 24px;
    width: 200px;
    height: 264px;
    background: #FFEBFC;
    border-radius: 20px;

}
#card5{
    width: 200px;
    height: 264px;
    background: #FFFEEB;
    border-radius: 20px;

}
.img{
    display: block;
    padding-left: 24px;
    padding-top: 24px;
    margin-bottom:24px;
}
.ex{
    font-family: 'Rubik';
    font-style: normal;
    margin-top: 24px;
    padding-left: 24px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
}
#btn1,#btn2,#btn3,#btn4,#btn5{
    margin-left: 24px;
    display: block;
    margin-top: 40px;
    width: 119.58px;
    height: 40px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 20px;
    line-height: 40px;
}
#btn1:hover{
    background-color: #000000;
    color: #FDEDE5;
}
#btn2:hover{
    background-color: #000000;
    color: #EBF1FF;
}
#btn3:hover{
    background-color: #000000;
    color: #EBFFEC;
}
#btn4:hover{
    background-color: #000000;
    color:#FFEBFC;
}
#btn5:hover{
    background-color: #000000;
    color: #FFFEEB;
}
.sec
{
    margin-top: 40px;
    padding-left: 40px;
    width: 364px;
}
#ul-prog{
    margin-left: 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: justify;
    color: #000000;
}
#secempty{
    margin-bottom: 271px;
}
footer{
    background-color: #F0F0F0;
    height: 301;
}
#secfooter{
    padding-top: 32px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 51.35px;
}
#followme{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 16px;
    color: #333333;
}
#footerlinks{
    padding-bottom: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8D8D8D;
}
#linkedin{
    padding-bottom: 70px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8D8D8D;
}
